USE [master]
GO
/****** Object:  Database [TestDB_2022_CS_23]    Script Date: 1/23/2024 2:06:45 PM ******/
CREATE DATABASE [TestDB_2022_CS_23]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB_2022_CS_23', FILENAME = N'D:\DB-Lab\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDB_2022_CS_23.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestDB_2022_CS_23_log', FILENAME = N'D:\DB-Lab\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDB_2022_CS_23_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB_2022_CS_23].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB_2022_CS_23]
GO
/****** Object:  Table [dbo].[student]    Script Date: 1/23/2024 2:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[Id] [nchar](10) NOT NULL,
	[Name] [nchar](10) NOT NULL,
	[Section] [nchar](10) NOT NULL,
	[Contact] [nchar](10) NULL,
	[Address] [nchar](10) NULL,
	[CGPA] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 1/23/2024 2:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[RegNo] [nchar](10) NULL,
	[Name] [nchar](10) NULL,
	[Section] [nchar](10) NULL,
	[GPA] [nchar](10) NULL,
	[Address] [nchar](10) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[student] ([Id], [Name], [Section], [Contact], [Address], [CGPA]) VALUES (N'1         ', N'Saad      ', N'A         ', N'123       ', N'abc       ', N'4.0       ')
GO
INSERT [dbo].[Table_1] ([RegNo], [Name], [Section], [GPA], [Address]) VALUES (N'1         ', N'kumail    ', N'A         ', N'3.5       ', N'saddar    ')
GO
USE [master]
GO
